/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */

/* body {
    height:100vh;
    margin:0;

    display: flex;
    justify-content: center;
    align-items:center;

    background:#ffff;

}

.calculator {
    width: 360px;
    background: #050505;
    padding: 30px;
    border: radius 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);

}
#display{
    height: 90px;
    background: #050505;
    border-radius:12px;
    margin: bottom 20px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size:55px;
    color: white;


} */

/* .button {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

button {
    height: 60px;
    border:none;
    border-radius: 50%; 
    background: #252525;
    color:white;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
    
}

.digit {
    background: #ddd;
    color:#252525
}

.operator {
    background:#ff9500;
    color:white;
}

#equals {
    grid-column: span 2;
    border-radius: 40px;
    background:#ff9500;
    color: white;
}

#clear {
    grid-column: span 2;
    border-radius: 40px;

}

#delete {
    background:#222;
    color: white;
}

.decimal {
    background: #222;
    color:white;
}
 */

 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}



.calculator{

    width:320px;
    background:#050505;
    padding:25px;
    border-radius:25px;

    box-shadow:
    0 15px 30px rgba(0,0,0,.4);

}



.display{

    height:90px;
    color:white;
    font-size:60px;
    text-align:right;
    padding:20px;

    overflow:hidden;
}



.buttons{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;

}



button{

    height:65px;
    border:none;
    border-radius:50%;

    background:#252538;
    color:white;

    font-size:25px;

    cursor:pointer;

    transition:.2s;

}



button:hover{

    opacity:.8;

}



.operator{

    background:#ff9f43;
    color:white;

}



.clear{

    grid-column:span 2;

    border-radius:40px;

    background: ;;
    color:#111;

}



.delete{

    background:#b7b6d9;
    color:#111;

}



.equal{

    grid-column:span 2;

    border-radius:40px;

    background:orange;

}



